In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("kidney_disease.csv")

AttributeError: 'DataFrame' object has no attribute 'read'

In [4]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [22]:
df.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [18]:
for feature in df.columns :
    missing_data=pd.isnull(df[feature])
    df[missing_data]

Empty DataFrame
Columns: [id, age, bp, sg, al, su, rbc, pc, pcc, ba, bgr, bu, sc, sod, pot, hemo, pcv, wc, rc, htn, dm, cad, appet, pe, ane, classification]
Index: []

[0 rows x 26 columns]

In [24]:
df[pd.isnull(df["rbc"])]

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
10,10,50.0,60.0,1.010,2.0,4.0,NaN,abnormal,present,notpresent,...,28,NaN,NaN,yes,yes,no,good,no,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,309,51.0,60.0,1.020,0.0,0.0,NaN,NaN,notpresent,notpresent,...,40,8100,5.9,no,no,no,good,no,no,notckd
322,322,70.0,60.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,43,4500,4.9,no,no,no,good,no,no,notckd
349,349,35.0,70.0,1.025,0.0,0.0,NaN,NaN,notpresent,notpresent,...,52,9400,6.1,no,no,no,good,no,no,notckd
350,350,65.0,70.0,1.025,0.0,0.0,NaN,NaN,notpresent,notpresent,...,43,9600,4.5,no,no,no,good,no,no,notckd
381,381,71.0,70.0,1.025,0.0,0.0,NaN,NaN,notpresent,notpresent,...,40,5800,5.9,no,no,no,good,no,no,notckd

In [25]:
df.rbc

0         NaN
1         NaN
2      normal
3      normal
4      normal
        ...
395    normal
396    normal
397    normal
398    normal
399    normal
Name: rbc, Length: 400, dtype: object

In [28]:
dc=df

In [30]:
dc.rbc.fillna('normal!')

0      normal!
1      normal!
2       normal
3       normal
4       normal
        ...
395     normal
396     normal
397     normal
398     normal
399     normal
Name: rbc, Length: 400, dtype: object

In [32]:
dc.()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd